<header>
  <a href="/"> Click Conversor</a>
</header>

<style>
  a {
    background: -webkit-linear-gradient(#ef9dfa, #c157f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
