<section>
  <h1>
    Transforma tus clics en conversiones con <span> Click Conversor</span>
  </h1>
  <h2>La herramienta definitiva para maximizar el valor de cada clic</h2>
</section>

<style>
  section {
    text-align: center;
    padding: 40px;
    color: white;
    border-radius: 20px;
  }

  h1 {
    font-size: 36px;
    margin: 10px 0;
  }

  h2 {
    font-size: 24px;
    margin: 10px 0;
  }

  span {
    background-image: linear-gradient(
      to right,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
    -webkit-background-clip: text;
    color: transparent;
    background-size: 1000%;
    animation: rainbowText 10s linear infinite;
  }

  @keyframes rainbowText {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
</style>
